@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

p, span  {
    font-family: 'Rubik';
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    margin: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-novigation {
    padding-top: 46px;
    background: #FFE17F;
}

.page-novigation-container{
    padding-left: 60px;
    padding-right: 60px;
}

.page-novigation-logo {
    fill: #000000;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: -24px;
}

.header-logo-link:hover .page-novigation-logo {
    fill: #444444;
}

.header-logo-link:active .page-novigation-logo {
    fill: #DCDCDC;
}

.header-logo-link:focus-visible .page-novigation-logo {
    fill: #000000;
    outline: 2px solid #AF4FFF;
    box-shadow: none;
}

.novigation-flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.navigation-list {
    display: flex;
    list-style-type: none;
}

.navigation-filter-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#FFE17F;
    border: 2px solid rgba(0, 0, 0, 0.3);
    z-index: 1;
    cursor: pointer;
}

.filter-button-plus {
    fill:rgba(0, 0, 0, 0.3);
    margin-top: 3px;
}

.navigation-filtr-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navigation-filtr-button-container:focus-visible {
    outline: none;
    border: 2px solid #AF4FFF;
}

.navigation-filtr-button-container:hover .navigation-filter-button {
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: none;
}

.navigation-filtr-button-container:hover .filter-button-plus {
    fill:rgba(0, 0, 0, 1);
    box-shadow: none;
}

.characteristic-flex-container {
    display: flex;
}

.card-list-characteristic {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-list-characteristic-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.card-list-characteristic-item:last-child {
    margin-right: 0;
}

.novigation-flex-container-filter {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;

}

.navigation-list-info {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 471px;
    list-style-type: none;
}

.navigation-list-info:last-child {
    margin-right: 0;
}

.navigation-list-item {
    flex-wrap: wrap;
    margin-right: 36px;
}

.navigation-list-item:last-child {
    margin-right: 0;
}

.navigation-filtr {
    display: flex;
    justify-content: start;
    height: 180px;
    background: #FFE17F;
    margin-top: -33px;
}

.navigation-filtr-list {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 55px;
    margin-top: 30px;
    list-style-type: none;
}

.navigation-filtr-list:last-child {
    margin-right: 0;
}

.navigation-filtr-list-item {
    margin-bottom: 15px;
}

.navigation-filtr-link {
    text-decoration: none;
    color: #000000;
}

.navigation-filtr-link:hover {
    fill: #000000 ;
    color: #000000;
    opacity: 0.6;
}

.navigation-filtr-link:active {
    fill: #000000 ;
    color: #000000;
    opacity: 0.3;
}

.navigation-filtr-link:focus-visible{
    outline: none;
    border: 0 0 1px 0 solid #000000;
    box-shadow: none;
}

/*.navigation-filtr-link::before {
    position: absolute;
    bottom: 0;
    width: 100px;
    background-color: #000000;
    display: block;
    height: 1px;
    content: "";
}*/

.header-decoration-container {
    margin-top: -10px;
    background: #FFE17F;
}

.header-decoration{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 855px;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #fff;
}

.search {
    padding: 10px 48px;
    width: 261px;
    border-radius: 40px 0 0 40px;
    border: 2px solid #000000;
    background-color: #FFE17F;
    box-shadow: none;
}

.search:focus-visible {
    box-shadow: none;
    outline: 2px solid #AF4FFF;
}

.aside-button {
    padding: 10px 56px;
    margin-left: -15px;
    border-radius: 0 40px 40px 0;
    border: 2px solid #000000;
    background-color: #FFE17F;
    margin-right: 53px;
}

.aside-button:hover {
    background: #000000;
    outline: 0 solid #000000;
    color: #fff;
}

.aside-button:focus-visible {
    box-shadow: none;
    outline: 2px solid #AF4FFF;
}

.aside-button:active {
    color: #444444;;
}

.main-aside-button {
    margin: 0;
    margin-right: 170px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #F0F0F0;
    border: 2px solid #DCDCDC;
    color: #000000;
    padding: 18px 39px;
    cursor: pointer;
}

.main-aside-button:hover {
    background: #000000;
    border: 2px solid #000000;;
    color: #fff;
}

.main-aside-button:active {
    color: #FFFFFF;
    opacity: 0.3;

}

.main-aside-button:focus-visible {
    outline: none;
    border: 2px solid #AF4FFF;
}

.email {
    width: 525px;
    border-style: none;
    border-bottom: 2px solid #DCDCDC;;
    background: #F0F0F0;
    box-shadow: none;
    padding: 19px 16px;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
}

.main-container {
    width: 1160px;
    margin: 0 auto;
}

.service-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.service-img {
    right: 61px;
    top: -23px;
    position: absolute;
}

.service-frame {
    right: 61px;
    top: -39px;
    position: absolute;
}

.service-description {
    width: 479px;
    height: 174px;
    margin-top: -32px;
    margin-bottom: 145px;
    margin-right: 309px;
}

.service-advantage{
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.main-aside-container {
    background: #F0F0F0;
    width: 1160px;
    margin: 0 auto;
}

.main-footer-container {
    width: 1160px;
    margin: 0 auto;
}

.main-info {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.slider {
    position: absolute;
    width: 20px;
    height: 60px;
    top: 211px;
    background: none;
    border: none;
    cursor: pointer;
}

.slider:hover {
    opacity: 0.6;
}

.slider:active {
    opacity: 0.3;
}

.slider:focus-visible {
    outline: none;
    border: 2px solid #AF4FFF;
}

.slider-left{
    left: 30px;
}

.slider-right {
    right: 10px;
}

.discription-card {
    margin-bottom: 51px;
}

.main-header-circle-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.circle-list-item{
    margin-right: 20px;
}

.circle-list-item:last-child {
    margin-right: 0;
}

.circle-button {
    width: 12px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    cursor: pointer;
}

.circle-button:hover {
    border: 2px solid #000000;
    opacity: 0.6;
}

.circle-button:active {
    opacity: 0.3;
}

.circle-button:focus-visible {
    outline: none;
    border: 2px solid #AF4FFF;
}

.checked-circle {
    background-color: #000000;
}

/*popover*/

.position-popover {
    position: relative;
}

.position-popover::before {
    position: absolute;
    display: block;
    left: -89px;
    content: url(../img/icons/triangle.svg);
}

.popover-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: -238px;
    background-color: #000000;
}

.popover-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popover-list-item {
    position: relative;
    margin-right: 76px;
    padding: 20px;
}

.popover-card {
    margin-right: 23px;
}

.popover-text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.popover-card-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.popover-close-button{
    position: absolute;
    top: 18px;
    right: -62px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.popover-close-icon {
    fill: #fff;
}

.popover-close-button:hover {
    opacity: 0.6;
}

.popover-close-button:active {
    opacity: 0.3;
}


.popover-close-button:focus-visible {
    box-shadow: none;
    outline: 2px solid #AF4FFF;
}


.summ-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #1A1A1A;
}

.popover-button-container {
    padding: 20px;
}

.popover-button {
    padding: 14px 25px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #000000;
}

.popover-button:hover {
    background: #FFE17F;
}

.popover-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.popover-button:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid #AF4FFF;
}


.circle-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 59px;
}

.main-header-button {
    margin-left: 20px;
}

.main-img-container {
    position: relative;
    margin-right: 40px;
}

.main-header {
    display: flex;
    justify-content: flex-start;
    margin-top: -140px;
    margin-bottom: 70px;
}

.main-header-discription-card {
}

.navigation-link {
    position: relative;
    padding-left: 19px;
    text-decoration: none;
    font-family: 'Rubik';
    color: #000000;
}

.navigation-link:hover {
    fill: #000000 ;
    color: #000000;
    opacity: 0.6;
}
.navigation-link:active{
    fill: #000000 ;
    color: #000000;
    opacity: 0.3;
}
.navigation-link:focus-visible{
    outline: 2px solid #AF4FFF;
    box-shadow: none;
}

.exit {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    opacity: 0.3;
}

.navigation-link-filter {
    text-decoration: none;
    font-family: 'Rubik';
    color: #000000;
    list-style-type: none;
}

.navigation-link-filter:hover {
    color: #000000;
    opacity: 0.6;
}

.navigation-link-filter:active {
    color: #000000;
    opacity: 0.3;
}

.navigation-link-filter:focus-visible {
    outline: 2px solid #AF4FFF;
}

.navigation-link-input {
    position: relative;
    padding-left: 27px;
    padding-right: 120px;
}

.input-icon {
    position:absolute;
    top: 5px;
    left: 0;
}

.navigation-link-basket{
    padding-left: 27px;
}

.ipnut-basket {
    position: absolute;
    left: 0;
    top: 4px;
}

.circle {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: #fff;
    left: -13px;
    top: 3px;
    z-index: 1;
}


.navigation-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-right: 35px;

}

.navigation-list-info-item {
    margin-right: 20px;
}

.navigation-title:last-child {
    margin-right: 0;
}

.service-advantage-container{
}

.main-title {
    font-family: 'Raleway';
    margin-top: 110px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}


.button {
    position: relative;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 10px 38px 10px 43px;
}

.button:hover {
    background: #FFE17F;

}

.button:active {
    background: #FFCC33;
}

.button:focus-visible {
    outline: 2px solid #AF4FFF;
}

.main-header-button::before {
    position: absolute;
    top: 15px;
    width: 220px;
    left: 1px;
    height: 8px;
    display: block;
    background: #FFE17F;
    content: "";
    z-index: -1;
}

.aside-button-our::before {
    position: absolute;
    top: 16px;
    width: 270px;
    left: 18px;
    height: 8px;
    display: block;
    background: #FFE17F;
    content: "";
    z-index: -1;
}

.aside-button-info::before {
    position: absolute;
    top: 16px;
    width: 270px;
    left: 4px;
    height: 8px;
    display: block;
    background: #FFE17F;
    content: "";
    z-index: -1;
}

.action-form

.title-characteristic {
    font-family: 'Rubik';
    font-weight: 800;
    font-size: 36px;
    line-height: 30px;
}

.text-card-list {
    color: #444444;
}

.tiny-card-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tiny-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    background-color: #FFE17F;
    z-index: -1;
}

.tiny-card-list-item {
    margin-right: 40px;
}

.tiny-card-list-item:last-child {
    margin-right: 0;
}

.img-bottom {
    align-self: end;
}

.card-list-item-link{
    display: block;
    text-decoration: none;
    z-index: -1;
}

.card-list-item-link:hover .tiny-card-container  {
    background-color: #FFC700;
}

.card-list-item-link:active .tiny-card-list-item {
   /* background-color: rgba(255, 255, 255, 0.3);
    background-color: black);*/
    color: #444444 ;
}

.title-tiny-card {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;

}

.tiny-card {
    margin-bottom: 160px;
}

.service-description-title {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 34px;
}

.service-list {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -39px;
    list-style-type: none;
}

.service-list::before{
    position: absolute;
    width: 7px;
    height: 319px;
    display: block;
    background-color: #000000;
    left: 281px;
    bottom: 60px;
    content: "";
}

.service-list-item-check {
    background-color: #000000;
}

/*button*/

.service-button-check {
    color: #FFE17F;
}

.service-button-check:hover {
    color: rgba(255, 225, 127, 0.5);
    background-color: #000000;
}

.service-button-check:active {
    color: rgba(255, 225, 127, 0.3);
    background-color: #000000;
}

.service-button-check:focus-visible{
    outline: 2px solid #AF4FFF;
    background-color: #000000;
}

.button-info {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.5);
    border: none;
    cursor: pointer;
}

.i-info {
    fill: #000000;
    position: absolute;
    top: 23px;
    right: 28px;
    opacity: 0.3;
}

.service-list-item {
    margin-bottom: 30px;

}

.service-button {
    width: 281px;
    padding: 9px 120px 9px 20px;
    background-color: rgba(196, 196, 196, 0);
    border: none;
    cursor: pointer;
}

.service-button::before {
    position: absolute;
    top: 5px;
    width: 270px;
    left: 18px;
    height: 8px;
    display: block;
    background: #FFE17F;
    content: "";
}

.service-advantage-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
}

.service-advantage-text {
    width: 910px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.service-advantage-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #F0F0F0;
    color: #000000;
}

.service-advantage-link:hover .service-advantage-card {
    background: #FFC700;
}

.service-advantage-link:hover .i-info {
    opacity: 1;
}

.service-advantage-link:active {

}

.service-advantage-link:focus-visible .service-advantage-container {
    border: 2px solid #AF4FFF;
}

.main-info-title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 47px;
    margin-bottom: 48px;
}

.main-info-text {
    margin-bottom: 30px;
    color: #444444;
}

.main-aside-our {
    position: relative;
    margin-right: 131px;
}

.main-aside-contacts {
    position: relative;
    margin-bottom: 80px;
}

.main-aside-our::before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 84px;
    height: 7px;
    content: "";
}

.aside-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 96px;
}

.flex-form-container {
    display: flex;
}

.action-form{
    display: flex;
}

.form-container-input {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.aside-text {
    width: 560px;
}

.main-aside-contacts::before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 84px;
    height: 7px;
    content: "";
}

.main-aside-our-list {
    list-style-type: none;
    margin-bottom: 30px;

}

.aside-our-list-item {
    position: relative;
    margin-left: -10px;
    margin-bottom: 19px;

}

.aside-our-list-item::before {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 5px;
    left: -30px;
    background: #FFC700;
    content: "";
}

.aside-our-list-item {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.contacts-title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.link-number {
    color: #000000;
}

.aside-free {
    position: relative;
    font-family: 'Rubik';
    font-weight: 400;
    padding-left: 32px;
    color: #444444;
}

.aside-free::before {
    position: absolute;
    left: 0;
    content: url("../img/icons/tick-big-geen.svg");
}

.service {
    display: block;
    margin: 0 auto;
    background: #F0F0F0;

}

.main-aside {
    margin: 0 auto;
    background: #F0F0F0;
}

.main-footer {
    align-self: end;
    margin: 0 auto;
    padding-bottom: 61px;
    background: #444444;
}

.footer-logo-link:hover .footer-logo {
    fill: #FFC700;
    opacity: 0.6;
}

.footer-logo-link:active .footer-logo {
    fill: #FFC700;
    opacity: 0.3;
}

.footer-logo-link:focus-visible .footer-logo {
    outline: none;
    box-shadow: none;
    border: 2px solid #AF4FFF;
}

.footer-logo{
    margin-top: 62px;
    margin-bottom: 35px;
    fill: #FFC700;;
}

.footer-navigation-list {
    margin-right: 35px;
    margin-left: auto;
    flex-wrap: nowrap;
}

.link-number-footer {
    margin-left: 165px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.link-number-footer:hover {
    color: #FFC700;
}

.link-number-footer:active {
    opacity: 0.3;
}

.link-number-footer:focus {
    outline: 2px solid #AF4FFF;
}

.footer-container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
    color: #fff;
}

.footer-link {
    display: block;
    position: relative;
    color: #FFFFFF;

}

.footer-link:hover  {
    color: #FFC700;
}

.footer-link:active  {
    color: #FFC700;
    opacity: 0.3;
}

.footer-link:focus {
    outline: 2px solid #AF4FFF;
}

.footer-text-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-decoration {
    align-self: start;
    width: 80px;
    height: 7px;
    background: #FFC700;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.footer-social-list-item {
    position: relative;
    margin-right: 15px;
}

.footer-social-list-item:last-child {
    margin-right: 0;
}

.footer-social-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.footer-social-link:hover {

    background: #FFC700;
}

.footer-social-link:active .social-icon {
    opacity: 0.3;
}

.footer-social-link:focus{
    outline: none;
    box-shadow: none;
    outline: 2px solid #AF4FFF;
}

.social-icon {
   fill: #444444;
   position: absolute;
   top: 14px;
   left: 12px;
}

.html-academy-logo {
    fill: #FFC700;
}

.html-academy-logo:hover {
    fill: #FFFFFF;
}

.html-academy-logo:active {
    fill: #FFFFFF;
    opacity: 0.3;
}

.html-academy-logo:focus-visible {
    outline: 1px solid #AF4FFF;
}
