@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

p, span  {
    font-family: 'Rubik';
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.navigation-link {
    text-decoration: none;
    color: #000000;
}

.navigation-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}

.main-title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.button {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.title-characteristic {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}

.tiny-card-container {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.tiny-card-img {

}

.card-list-item-link{
    text-decoration: none;
}

.title-tiny-card {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;

}
